<!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio" class="clearfix">
        <div class="container">
  
          <header class="section-header">
            <h3 class="section-title">Blog</h3>
            <p>En nuestro Blog, se pueden ver noticias y novedades sobre algunas aplicaciones móviles.</p>
          </header>
  
          <div class="row">
            <div class="col-lg-12">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">Todas las Aplicaciones</li>
                <li data-filter=".filter-app">Comida - Educación - Productos</li>
                <li data-filter=".filter-card">Billetera - Transporte - Viaje</li>
                <li data-filter=".filter-web">Farmacia - Veterinaria - Salud</li>
              </ul>
            </div>
          </div>
  
          <div class="row portfolio-container">
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/comida.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Comida</a></h4>
                  <p>Comida - Educación - Productos</p>
                  <div>
                    <a href="assets/img/portfolio/comida.jpg" data-lightbox="portfolio" data-title="Comida" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="https://marketing4ecommerce.net/empresas-delivery-apps-de-reparto-de-comida-a-domicilio-a-nivel-mundial/" class="link-details" title="Más detalles"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/farmacia.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Farmacia</a></h4>
                  <p>Farmacia - Veterinaria - Salud</p>
                  <div>
                    <a href="assets/img/portfolio/farmacia.jpg"class="link-preview" data-lightbox="portfolio" data-title="Farmacia" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="https://cynoteck.com/es/blog-post/pharmaceutical-app-development/" class="link-details" title="Más detalles"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/educación.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Educación</a></h4>
                  <p>Comida - Educación - Productos<p>
                  <div>
                    <a href="assets/img/portfolio/educación.jpg" class="link-preview" data-lightbox="portfolio" data-title="Educación" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="https://www.cisin.com/coffee-break/es/technology/education-app-ideas-are-transforming-future-of-education.html" class="link-details" title="Más detalles"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/billetera.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Billetera</a></h4>
                  <p>Billetera - Transporte - Viaje</p>
                  <div>
                    <a href="assets/img/portfolio/billetera.jpg" class="link-preview" data-lightbox="portfolio" data-title="Billetera" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="https://www.bloc.tecnne.com/el-boom-de-las-billeteras-virtuales-en-argentina/" class="link-details" title="Más detalles"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/veterinaria.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">veterinaria</a></h4>
                  <p>Farmacia - Veterinaria - salud</p>
                  <div>
                    <a href="assets/img/portfolio/veterinaria.jpeg" class="link-preview" data-lightbox="portfolio" data-title="Veterinaria" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="https://www.animalshealth.es/empresas/que-funciones-ofrecer-propietarios-app-clinica-veterinaria" class="link-details" title="Más detalles"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/productos.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Productos</a></h4>
                  <p>Comida - Educación - Productos</p>
                  <div>
                    <a href="assets/img/portfolio/productos.jpg" class="link-preview" data-lightbox="portfolio" data-title="Productos" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="https://www.cronista.com/informacion-gral/la-revolucion-de-las-apps-para-comprar-en-linea/" class="link-details" title="Más detalles"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/transporte.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Transporte</a></h4>
                  <p>Billetera - Transporte - Viaje</p>
                  <div>
                    <a href="assets/img/portfolio/transporte.jpg" class="link-preview" data-lightbox="portfolio" data-title="Transporte" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="https://dplnews.com/5-razones-de-por-que-las-mujeres-prefieren-usar-didi-o-uber/" class="link-details" title="Más detalles"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/viaje.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Viaje</a></h4>
                  <p>Billetera - Transporte - Viaje</p>
                  <div>
                    <a href="assets/img/portfolio/viaje.jpg" class="link-preview" data-lightbox="portfolio" data-title="Viaje" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="https://appmarketingnews.io/aplicaciones-de-viaje-en-el-q2-de-2023/" class="link-details" title="Más detalles"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/salud.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Salud</a></h4>
                  <p>Farmacia - Veterinaria - Salud</p>
                  <div>
                    <a href="assets/img/portfolio/salud.jpg" class="link-preview" data-lightbox="portfolio" data-title="Salud" title="Preview"><i class="ion ion-eye"></i></a>
                    <a href="https://appmarketingnews.io/aumenta-el-uso-de-las-aplicaciones-de-salud/" class="link-details" title="Más detalles"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- #portfolio -->
