
<!--Header-->

<app-header></app-header>

<!--Fin Header-->

<!--Intro-->

<app-intro></app-intro>

<!--Fin Intro-->

<main id="main">

<!--About-->
  
<app-about></app-about>
  
<!--Fin About-->
   

<!--Services-->
  
<app-services></app-services>
  
<!--Fin Services-->


<!--Portfolio-->

<app-portfolio></app-portfolio>

<!--Fin Portfolio-->


<!--Team-->

<app-team></app-team>

<!--Fin Team-->


<!--Contact-->

<app-contact></app-contact>

<!--Fin Contact-->


<!--Footer-->

<app-footer></app-footer>

<!--Fin Footer-->


  

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<!-- Uncomment below i you want to use a preloader -->
<!-- <div id="preloader"></div> -->

  






<router-outlet></router-outlet>
 
