<!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Servicios</h3>
          <p> En nuestra empresa, ofrecemos aplicaciones móviles para todo tipo de negocios. Nuestros servicios son los siguientes: </p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Aplicaciones Personalizadas</a></h4>
              <p class="description">Creamos una aplicación móvil a medida para tu negocio, cuyo uso sea fácil para tus clientes. </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Funciones Avanzadas</a></h4>
              <p class="description">Agregamos funciones a tu aplicación, como métodos de pago, notificaciones, y conexión con redes sociales.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Mejoras de Aplicaciones</a></h4>
              <p class="description">Si ya tienes una aplicación móvil, te ofrecemos sugerencias para que funcione de manera más eficiente.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Soporte y Mantenimiento</a></h4>
              <p class="description">Te brindamos apoyo técnico y actualizaciones para que tu aplicación siempre funcione correctamente.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->
